@import 'nib'

$primaryBackground = rgb(13, 115, 179)
$accentLightBlue = rgb(72, 198, 242)
$secondaryBackground = rgb(248, 248, 248)
$softBlack = rgb(69, 69, 69)
$primaryHeadingFont = 'Dosis', sans-serif
$primaryTextFont = 'Helvetica Neue', sans-serif

html
  position: relative;
  min-height: 100%;

body
  background-color: $secondaryBackground
  overflow-x: hidden
  overflow-y: scroll
  width: 100%
  height: 100%
  color: $softBlack
  font-family: 'Helvetica Neue', sans-serif
  font-size: 15px

blockquote
  border: none
  
@media(min-width:992px)
  body
    /* Margin bottom by footer height */
    margin-bottom: 60px;
      
b, strong
  font-weight: 400
  
// Get rid of annoying Firefox link borders
a, a:hover, a:active
  outline: 0

a::-moz-focus-inner
  border: 0

:focus
  outline:none
::-moz-focus-inner
  border:0

h1, .h1
  font-family: $primaryHeadingFont !important
  font-weight: 400 !important
  font-size: 28px 
    
.page.content
  padding-bottom: 20px
  
  h1
    text-decoration: none
    text-transform: none
    text-align: left
    font-size: 30px
    line-height: 35px
    font-family: $primaryHeadingFont !important
    font-weight: 400 !important
    font-size: 35px 
    
  h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6
    font-family: "Helvetica Neue"
    font-weight: 200
    line-height: 1.1
    
  h2 
    font-size: 25px
    
  p
    line-height: 1.6

@media(min-width: 1200px)
  .container.container-narrow
    width: 1050px
  
header
  background-color: $primaryBackground
  padding: 10px 0

.navbar 
  border-radius: 0
  border: none
  margin: 0
  height: 70px

a.navbar-brand
  padding: 0
  img
    height:50px

@media(max-width:768px)
  .navbar 
    height: 60px
    
  a.navbar-brand img
    height: 40px
  
ul.nav.navbar-nav
  margin: 0px

.navbar-collapse
  display: none

.navbar-toggle 
  display: block
  margin-top: 0
  color: $accentLightBlue
      
.mobile-menu
  padding: 15px
  list-style-type: none
  position: absolute
  top: 70px
  z-index: 10000
  background-color: #FFF 
  width: 100%
  border-bottom: solid 1px $primaryBackground
  
  li 
    margin: 10px 0
    font-family: $primaryHeadingFont
    font-size: 20px
    
  li a 
    display: block

button.navbar-toggle
  cursor: pointer
  margin-right: 0
  border: solid 2px $accentLightBlue

  .icon-bar
    background-color: $accentLightBlue

.navbar .navbar-nav>li>a
  color: $accentLightBlue
  text-transform: uppercase
  font-family: $primaryHeadingFont
  font-size: 18px
  border: solid 1px transparent
  border-radius: 4px
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 10px
  margin-left: 5px
  
.navbar .navbar-nav>li>a:hover
  border: solid 1px $accentLightBlue
  background-color: $primaryBackground

.navbar .navbar-nav>li>a:focus 
  background: $primaryBackground
  
.navbar .navbar-nav>li>a:active
  background: $primaryBackground

.navbar .navbar-nav>li.current>a
  color: #FFF
  
ul.navbar-nav
  li.current *
    color: #F8F8F8
    
a.btn.btn-fancy
  border: solid 2px $softBlack
  text-align: center
  border-radius: 10px
  padding: 8px 20px
  text-transform: uppercase
  background-color: $secondaryBackground
  color: $softBlack
  font-family: $primaryHeadingFont
  font-size: 20px
  font-weight: 200
  
  i
    margin-right: 10px
  
a.btn.btn-fancy:hover 
  background-color: silver

// Homepage banner
.banner
  padding-bottom: 25px
  background-color: $primaryBackground
  color: #FFF

  a.btn.btn-fancy
    border: solid 2px $accentLightBlue
    background-color: $primaryBackground
    color: #FFF

  a.btn.btn-fancy:hover 
    background-color: $accentLightBlue

  h1 
    padding-top: 20px
    font-size: 56px
    font-weight: 400
    font-family: $primaryHeadingFont
    
  h2 
    margin: 0
    line-height: 1.5
    font-size: 26px
    font-weight: 100
    font-family: $primaryHeadingFont
    
  a.btn
    margin-top: 20px
    
  a.btn:hover
    background-color: $accentLightBlue
    
  div.terminal-wrap
    width: 300px
    height: 208px
    position: relative
    
    div.terminal-bg
      background-color: #000
      opacity: .3
      border-radius: 20px 
      z-index: 10
      position: absolute
      top: 30px
      bottom: 0
      left: 0
      right: 0
    
    img.terminal
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 1000

.banner.banner-bottom
  margin-top: 0px
  padding-top: 15px
  padding-bottom: 30px
  

.banner.quote
  padding-top: 25px
  padding-bottom: 25px
  padding-top: 15px
  padding-bottom: 30px
  background-color: $accentLightBlue
  color: $secondaryBackground

section.highlights 
  margin: 25px 0 25px 0
  
  i.icon
    font-size:40px
    margin-right: 10px

  p.lead 
    margin: 15px 0 0 10px
    
  a.btn
    margin-top: 15px

// only show the cloud background on big screens
@media(min-width: 900px)
  .banner.banner-top 
    background-image: url(../images/aerobatic_web_cloud.png)
    background-position: bottom right
    background-repeat: no-repeat   

section.toolbelt
  margin-top: 20px
  
  h1
    font-family: $primaryHeadingFont
    font-size: 28px
    margin-bottom: 25px  
    
  .logos
    img
      margin-bottom: 20px


section.benefits
  margin-top: 20px

  h1
    font-family: $primaryHeadingFont
    font-size: 32px
    margin-bottom: 25px
    width: 100%
    text-align: center
    margin 0px auto 25px auto

  .h2
    font-family: $primaryHeadingFont
    font-size: 28px
    font-weight: 400
    margin-bottom: 25px

  span.h2
    margin-left: 10px 

  p
    font-family: $primaryTextFont
    font-size: 18px
    margin-bottom: 25px 

  i.icon
    font-size:40px
    color: $accentLightBlue

  hr
    border-width: 1px

section.how
  margin-top: 20px

  h1
    font-family: $primaryHeadingFont
    font-size: 32px
    margin-bottom: 25px
    text-align: center
    margin 0px auto 25px auto

  .h2
    font-family: $primaryHeadingFont
    font-size: 28px
    font-weight: 400
    display: inline

  span.h2
    margin-left: 15px

  p
    font-family: $primaryTextFont
    font-size: 18px
    margin-bottom: 25px
    margin-top: 15px 

  i.icon
    font-size:40px

  hr
    border-width: 1px

  .numberCircle
    float: left
    border-radius: 50%
    behavior: url(PIE.htc)
    width: 36px
    height: 36px
    line-height: 36px
    vertical-align: middle
    border: 2px solid
    color: $accentLightBlue
    text-align: center
    font-size: 28px
      

section.tech
  margin-top: 20px

  h1
    font-family: $primaryHeadingFont
    font-size: 32px
    margin-bottom: 25px
    text-align: center
    margin 0px auto 25px auto

  .h2
    font-family: $primaryHeadingFont
    font-size: 28px
    font-weight: 400
    margin-bottom: 25px

  span.h2
    margin-left: 25px 

  p
    font-family: $primaryTextFont
    font-size: 18px
    margin-bottom: 25px 

  i.icon
    font-size:40px

  hr
    border-width: 1px

section.capabilities
  margin-top: 20px

  h1
    font-family: $primaryHeadingFont
    font-size: 32px
    margin-bottom: 25px
    text-align: center
    margin 0px auto 25px auto

  .h2
    font-family: $primaryHeadingFont
    font-size: 28px
    font-weight: 400
    margin-bottom: 25px

  span.h2
    margin-left: 10px 

  p
    font-family: $primaryTextFont
    font-size: 18px
    margin-bottom: 25px 

  i.icon
    font-size:120px
    color: $accentLightBlue
    text-align: center

  hr
    border-width: 1px
    border-color: $secondaryBackground

  div.terminal-wrap
    width: 300px
    height: 208px
    position: relative
    
    div.terminal-bg
      background-color: $primaryBackground
      border-radius: 10px 
      z-index: 10
      position: absolute
      top: 20px
      bottom: 0
      left: 0
      right: 0
    
    img.terminal
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 1000

div.feature-box
  h2
    font-size: 25px
    font-weight: 200
    
  h2 > span
    margin-left: 5px
    
  p 
    line-height: 1.7
    margin-right: 10px
    
section.footer
  background-color: $primaryBackground
  color: #FFF
  padding-top: 15px
  font-weight: 200
  width: 100%;

  a 
    color: #FFF
  a:hover
    color: #FFF 
      
  .icons 
    i 
      color: #FFF
      font-size: 25px

@media(min-width:992px)
  section.footer
    height: 60px
    position: absolute;
    bottom: 0;
  
// .left-menu
//   z-index: 1000
//   position: relative

// The left column table of contents
.toc
  margin-top: 20px

  a
    display: block
    color: $accentLightBlue
    text-decoration: none
    font-weight: 400
    margin-bottom: 10px
  
  a.active, a.active:hover
    color: $softBlack
    font-weight: 500
      
  a:hover
    color: $primaryBackground
  

.view-animate-container
  min-height: 500px
  position:relative;
  overflow-x:hidden

// Animation styles based on example here:
// http://embed.plnkr.co/p7WZdsy0FznV3zo7VWjU/style.css
.view-animate.ng-enter, .view-animate.ng-leave
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;

  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

.rtl .view-animate.ng-enter
  transform: translate3d(100%, 0, 0);

.rtl .view-animate.ng-enter.ng-enter-active
  transform: translate3d(0, 0, 0);

.rtl .view-animate.ng-leave.ng-leave-active
  transform: translate3d(-100%, 0, 0);

.ltr .view-animate.ng-enter
  transform: translate3d(-100%, 0, 0);

.ltr .view-animate.ng-enter.ng-enter-active
  transform: translate3d(0, 0, 0);

.ltr .view-animate.ng-leave.ng-leave-active
  transform: translate3d(100%, 0, 0);

.page
  width: 100%

.icon-twitter
  font-size: 22px
  padding-top: 8px

.markdown
  h2
    color: #454545
    font-weight: 400
    margin-top: 30px
    margin-bottom: 12px

  p > code, li > code
    margin: 0;
    border: 1px solid #ddd
    background-color: #f8f8f8
    border-radius: 3px
    padding: 0 2px
    color: #333333

  a.external::after
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    content: '\e830'
    margin-left: 2px
    font-size: .7em    

.blog-date
  font-size: 20px
  font-weight: 300
  line-height: 20px
  font-family: 'Dosis',sans-serif

// Blog share buttons
button.blog-share
  width: 50px
  height: 40px
  color: #FFF
  padding: 0
  font-size: 20px

  i
    margin-right: 0;

button.blog-share:hover
  color: #FFF

button.blog-share.twitter
  background-color: #4099FF

button.blog-share.google
  background-color: #D34836

button.blog-share.linkedin
  background-color: #03659A

button.blog-share.reddit
  background-color: #99BEEB

button.blog-share.hackernews
  background-color: #ff6600

ul.pricing
  .header
    background-color: $primaryBackground
    color: #F8F8F8
    
    .h4
      font-family: $primaryHeadingFont
      font-weight: 400

// terminal text
p.yoke
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
    margin-left: 60px;
    margin-top: 65px;
p.yoke1
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
    margin-left: 60px;

a.4front
  color: #48C6F2
  text-decoration: none
  font-weight: 500
  
.none
  display: none !important
  
.gallery-box
  a.thumbnail
    padding: 10px
    border: solid 1px #888
    
  h2 
    margin-top: 0

.testimonial
  blockquote.quote
    margin: 0
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 0;
    font-weight: 300;
    font-family: Dosis, sans-serif;
    padding-left: 0;
    border: none !important;
    border-left-color: transparent
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.1em;
    float: left

  blockquote.cite
    font-size: 16px;
    display: block;
    margin: 5px 0 0;
 
  blockquote.cite:before
    content: "\2014 \2009";
  
// .img-pierre
//  float: right;
//  width: 80px;
//  height: 80px;
//  background-image: url('/images/pierre.png');
//  background-size: cover;
//  display: inline-block;
//  border-radius: 50%;
//  margin-right: 440px;
//  margin-top: -20px;
//  position: inherit;

