.view
	section.page.content(ng-cloak)
		.container
			.row
				.col-lg-12
					h2 Contact Us
					p For issues or feature requests, you can submit those on the <a href="https://aerobatic.atlassian.net/servicedesk/customer/portal/1">Aerobatic Service Desk</a>.<br>Alternatively, you can email us at <a href="mailto:support@aerobatic.com">support@aerobatic.com</a> and we'll respond as quickly as possible.