.page.home
  //- Hero banner
  section.banner.banner-top
    .container.container-narrow
      .row
        .col-md-6.col-sm-12.col-xs-12
          h1 Static Hosting for Front-End Developers
          h2 All of the features. None of the hassles. 
          h2 Trusted by thousands of developers.
          h2 CDN, SSL, API Proxy, custom domains, and more.
        .col-md-6.hidden-sm.hidden-xs
          div.pull-right
            .terminal-wrap
              .terminal-bg
              img.img-responsive.terminal(asset-src="images/terminal-combined.png")
  
  section.highlights
    .container.container-narrow
      .row
        .col-md-12.col-md-offset-3
          h1 Two Options to Deploy Your Apps
      .row 
        .col-md-6
          i.icon.icon-code
          span.h1 Command Line Deployment
          p.lead Install the CLI and integrate into your workflow. Deploy with just a few keystrokes. Wire up to your CI server for continuous delivery.
          a.btn.btn-fancy(title='', href='/docs/getting-started')
            i.icon-code
            | Install The CLI

        .col-md-6
          i.icon.icon-bitbucket
          span.h1 Bitbucket Integration
          p.lead Edit your code, push your changes to Bitbucket, and your site is deployed automatically, all within the Bitbucket UI.
          a.btn.btn-fancy(title='', href='//bitbucket.aerobatic.com/')
            i.icon-bitbucket
            | Install Bitbucket Add-On

  section.banner.quote
    .container.container-narrow
      .row.testimonial
        .col-md-10.col-sm-8.col-xs-12
          blockquote.quote <i class="icon-quote-left"></i>Aerobatic has enabled our front-end team to completely manage their own deployments and eased device testing and previews for both internal and external stakeholders. It has made the workflow less disruptive for the backend team and less stressful for the front-end team.<i class="icon-quote-right"></i>
          blockquote.cite Patrik Kullman, Front-End Developer @ Neovici, Sweden
        .col-md-2.col-sm-4.xs-hidden
          img.img-responsive.img-circle(asset-src="images/patrik.jpg")
