.page.home
  //- Hero banner
  section.banner.banner-top
    .container.container-narrow
      .row
        .col-md-6.col-sm-12.col-xs-12
          h1 Web app deployment for enterprises.
          h2 Fast &amp; Flexible for Developers. 
          h2 Secure &amp; Scalable for DevOps.
          p
          a.btn.btn-fancy(title='', href='/docs/getting-started')
            i.icon-flash
            | Install Aerobatic
          h3
        .col-md-6.hidden-sm.hidden-xs
          div.pull-right
            .terminal-wrap
              .terminal-bg
              img.img-responsive.terminal(asset-src="images/terminal-combined.png")


  section.toolbelt
    .container.container-narrow
      h1 Complements the modern front-end toolbelt
      .row.logos
        .col-sm-2.col-xs-4
          .logo
            img.img-responsive(asset-src="images/angular-logo.png", alt="AngularJS")
        .col-sm-2.col-xs-4
          .logo
            img.img-responsive(asset-src="images/gulp-logo.png", alt="Gulp")
        .col-sm-2.col-xs-4
          .logo
            img.img-responsive(asset-src="images/emberjs-logo.png", alt="EmberJS")
        .clearfix.visible-xs-block.hidden-lg.hidden-md.hidden-sm.break
        .col-sm-2.col-xs-4
          .logo
            img.img-responsive(asset-src="images/npm-logo.png", alt="NPM")
        .col-sm-2.col-xs-4
          .logo
            img.img-responsive(asset-src="images/react-logo.png", alt="React")
        .col-sm-2.col-xs-4
          .logo
            img.img-responsive(asset-src="images/grunt-logo.png", alt="Grunt")
  

  section.highlights
    .container.container-narrow
      .row 
        .col-md-6
          i.icon.icon-code
          span.h1 Use the Libraries You Love
          p.lead Aerobatic is a platform, not a framework. Build your app with AngularJS, Ember, React, Backbone, jQuery, and whatever next best thing comes along. We're not out to re-invent the wheel, just provide a smoother surface to roll on.

        .col-md-6
          i.icon.icon-window
          span.h1 Built for modern web apps
          p.lead Designed from the ground-up for today's web apps. Everything a front-end developer needs including: command line deployment, API integration and key management, authentication, SEO and more come right out of the box.
          a.btn.btn-default.btn-fancy.features(ng-href="/features") 
            i.icon-cog-alt
            span Features

  section.banner.quote
    .container.container-narrow
      .row.testimonial
        .col-md-10.col-sm-8.col-xs-12
          blockquote.quote <i class="icon-quote-left"></i>Aerobatic has enabled our front-end team to completely manage their own deployments and eased device testing and previews for both internal and external stakeholders. It has made the workflow less disruptive for the backend team and less stressful for the front-end team.<i class="icon-quote-right"></i>
          blockquote.cite Patrik Kulman, Front-End Developer @ Neovici, Sweden
        .col-md-2.col-sm-4.xs-hidden
          img.img-responsive.img-circle(asset-src="images/patrik.jpg")

  section.banner.banner-bottom
    .container.container-narrow
      h1 The DevOps you Never Knew You Had
      h2 Not a huge enterprise? No problem. Deploy to our cloud in less than 60 seconds!
      h2 CDN, custom domains (inc. SSL), SEO, API proxy, OAuth, and more.
      a.btn.btn-fancy(title='', href='/docs/getting-started')
        i.icon-flash
        | Get Started For Free