.page.home
  //- Hero banner
  section.banner.banner-top
    .container.container-narrow
      .row
        .col-md-8.col-sm-12.col-xs-12
          h1 Powering the Interface Layer
          h2 Create and deploy amazing front-end experiences faster than ever with the web application management platform trusted by businesses worldwide.
          p
          a.btn.btn-fancy(title='', href='/docs/getting-started')
            i.icon-flash
            | Get Started For Free
          h3
        .col-md-4.hidden-sm.hidden-xs
          div.pull-right
              .terminal-bg

  section.benefits
    .container.container-narrow
      .row
       .col-md-12
         h1 Agile “systems of engagement” without shortcutting operational best practices
      .row
        .col-md-4
          i.icon.icon-code
          span.h2 Front-End Agility
          p.lead Deliver proof-of-concept web applications in hours instead of weeks and production-ready systems in days instead of months.
        .col-md-4
          i.icon.icon-cloud
          span.h2 IT Efficiency
          p.lead Get more from your cloud investment with less dev ops time and resources spent securely provisioning and managing each web application.
        .col-md-4
          i.icon.icon-window
          span.h2 Customer Credibility
          p.lead Modern, highly-available web applications that perform well on any device, anywhere in the world, from day one. 
      hr  

  section.how
    .container.container-narrow
      .row
       .col-md-12
         h1 How Aerobatic Works
      .row
       .col-md-12
         p.lead Companies can choose to deploy their front-end web applications to our public cloud, or they can run their own instances of the Aerobatic platform within their AWS Virtual Private Cloud and then manage deployment of their web apps there. Whichever option you choose, we provide the same great front-end developer experience:
      .row
        .col-md-3
          .numberCircle 1
          span.h2 Create
          p.lead As an individual, or collaborating as a team, build your web application using your favorite front-end JavaScript frameworks and build tools.
        .col-md-3
          .numberCircle 2
          span.h2 Connect
          p.lead Securely connect to backend services via APIs.        
        .col-md-3
          .numberCircle 3
          span.h2 Deploy
          p.lead From the command line, push your application to dev, test, and production environments.
        .col-md-3
          .numberCircle 4
          span.h2 Manage
          p.lead Administer your applications from a centralized dashboard or using our API.
      hr  

  section.tech
    .container.container-narrow
      .row
       .col-md-12
         h1 Open-Source Technology
      .row
        .col-md-12
          p.lead Aerobatic uses <a href='http://4front.io/'>4front</a>, the world’s first and only multi-tenant platform-as-a-service built specifically for the unique needs of modern, cloud-native, front-end applications. Built with node.js, the primary contributors to the 4front project have a proven track record of building cloud-native applications that serve up billions of requests to millions of customers monthly. <a href='http://4front.io/'>Learn More</a>.

      hr  

  section.capabilities
    .container.container-narrow
      .row
       .col-md-12
         h1 Capabilities

      .row
        .col-md-6
          img.img-responsive.terminal(asset-src="images/aws-vpc.png")
        .col-md-6
          .h2 Security
          p.lead With Aerobatic, companies make a one time DevOps investment to get the platform up and running within their AWS VPC with proper network and IAM controls. After that, front-end delivery teams are liberated to deploy new apps at will without having to worry about all the lower level operational concerns.
      hr

      .row
        .col-md-6
          .h2 Service-Oriented Architecture
          p.lead Maximize your organization's SOA investments. Connect to on-premise or 3rd party APIs, transform or cache responses, store sensitive keys out of the browser. Aerobatic provides everything a front-end developer needs to rapidly build the UI layer independent of backend engineering.
        .col-md-6
          img.img-responsive(asset-src="images/cdn.png")    
      hr
        
      .row
        .col-md-6
              img.img-responsive(asset-src="images/integrated2.png")
        .col-md-6
          .h2 Integrated Environments
          p.lead With Aerobatic’s simulator mode, run your front-end changes locally, and the rest of your app in the cloud. Test changes in a fully integrated environment that exactly emulates production. Let stakeholders preview and approve new versions via private URL before flipping the switch to release into the wild.
      hr    
            
      .row
        .col-md-6
          .h2 Developer friendly tooling
          p.lead Our command line utility integrates cleanly into a streamlined modern workflow. Deploy a new version of an application to production with just a few keystrokes. Wire up to a CI server such as Jenkins for continuous delivery.
        .col-md-6
          div.pull-right
            .terminal-wrap
              .terminal-bg
              img.img-responsive.terminal(asset-src="images/terminal-combined.png")
      hr
       
      .row
        .col-md-6
          img.img-responsive(asset-src="images/terminalmock.png")
        .col-md-6
          .h2 Work as a team
          p.lead Aerobatic Organizations makes it easy for enterprise teams to collaborate and build apps together. Manage all your apps in one place. Share common APIs and configuration across multiple apps.
      
      hr  

  section.banner.quote
    .container.container-narrow
      .row.testimonial
        .col-md-10.col-sm-8.col-xs-12
          blockquote.quote <i class="icon-quote-left"></i>Aerobatic has enabled our front-end team to completely manage their own deployments and eased device testing and previews for both internal and external stakeholders. It has made the workflow less disruptive for the backend team and less stressful for the front-end team.<i class="icon-quote-right"></i>
          blockquote.cite Patrik Kullman, Enterprise Solutions Architect @ Neovici, Sweden
        .col-md-2.col-sm-4.xs-hidden
          img.img-responsive.img-circle(asset-src="images/patrik.jpg")

  section.banner.banner-bottom
    .container.container-narrow
      h2 Not a huge enterprise? No problem. Deploy to our cloud in less than 60 seconds!
      h2 CDN, custom domains (inc. SSL), SEO, API proxy, OAuth, and more.
      a.btn.btn-fancy(title='', href='/docs/getting-started')
        i.icon-flash
        | Get Started For Free